	* {
				margin: 0;
				padding: 0;
			}

			ul {
				list-style-type: none;				
			}

			.nav {
				width: 60px;
			}
			a {
				margin-left: 80px;
				font-size: 30px;
				color:rgba(0, 0, 0,0.6);
				white-space:nowrap;
				font-family: 宋体;
				
			}

			/* 当鼠标hover时将一级菜单的字体颜色改为红色 */
			a:hover {
				color: #f30213;
			}

			/* 隐藏二级菜单*/
			.nav ul li ul {
				display: none;
			}
.big{
	font-weight: 800;
	color: #000;
	
		font-size: 30px;
	
}
.big:hover{
	
		font-size: 30px;
		font-weight: 800;
		color: red;
}
			/* 显示二级菜单 */
			.nav ul li:hover ul {
				display: block;
			}

			/* 鼠标经过li标签显示二级菜单 */
			.nav ul li:hover .purchase {
				display: block;
			}

			/* 鼠标hover时一级菜单的背景为白色 */
			.nav ul li:hover {
			}

			/* 为二级菜单的盒子设置宽高，以及边框，将其隐藏起来，用绝对定位脱离文档流 */

			.purchase ul {

				float: left;
			}

			.purchase ul li {
				font-size: 30px;
			}
body{
	background-color: #e1e0c7;
	white-space: pre-line;
}
.container{
	width: 90%;
	background-color: #e1e1e1;
	margin:2% auto;
	border-radius: 5px;
	padding-bottom: 3%;
}
img{
    width: 100%;
    height: 100%;
}
.container .poemtitle{
	margin:2% auto;
	text-align: center;
	font-family: 宋体;
	font-size:230%;
	font-weight: bold;
}
.container .poemauthor{
	margin:2% auto;
	text-align: center;
	font-size:90%;	
	color:#616161;
}
.container .poemsentence{
	margin:2% auto;
	text-align: center;
	font-family: 宋体;
	font-size:170%;
	font-weight: bold;
}
.space{
	padding-bottom: 1%;
}
.content{
	padding-left: 4%;
	padding-bottom: 1%;
	padding-right: 4%;
	font-family: 宋体;
	font-size: 140%;
	line-height: 160%;
	font-weight: 500;
}
.all{
	padding-top: 3%;
	padding-left: 5%;
	padding-bottom:2%;
	font-family: 宋体;
	font-size: 200%;
	font-weight: 1000;
	color:white
}
.title{
	padding-top: 3%;
	padding-left: 4%;
	padding-bottom:2%;
	font-family: 宋体;
	font-size: 170%;
	font-weight: 1000;
}
.titles{
	padding-left: 4%;
	padding-bottom:2%;
	font-family: 宋体;
	font-size: 150%;
	font-weight: 1000;
}
.titless{
	padding-left: 4%;
	padding-bottom:2%;
	font-family: 宋体;
	font-size: 140%;
	font-weight: 1000;
}
.original{
	text-align: right;
	padding-right:4%;
	font-size:110%;
	color:#616161;
	
	font-family: 宋体;
	padding-top: 2%;
	padding-bottom:2%;
	
}
.calligraphy_img{
	
	margin:0 auto;
	
}
